header{
    border: 2px;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
}

.perfil{
    margin-top: 16px;
    box-sizing: border-box;
    border: 10px;
    padding: 70px;
    background-color: white;
}

.professores{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
.nomeprofessor{
    text-align: center;
    font-size: x-large;
}
.nomeprofissao{
    text-align: center;
    font-size: large;
}
